<!--A Design by W3layouts
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Compact Throughput in BlockChain Occupying Outfit</title>
<!-- custom-theme -->
    {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Education Appointment Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<!-- css files -->
<link href= "{% static 'css/style.css' %}"type="text/css" rel="stylesheet" media="all">
<link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
<!-- //css files -->
		<style>
	.left_column{

	width: 860px;
	border:5px solid black;
	border-radius:10px;
	background-color:white;
	margin-left:240px;
	height:70px;
	margin-bottom:30px;
	padding-top:30px;


}
.left_column a
{
width:200px;
height:60px;
text-decoration:none;
color:white;
font-size:25px;
margin-left:30px;
font-family:georgia;
background-color:#134849;
padding:10px 10px 10px 10px;
border-radius:10px;

}
	</style>
</head>
<!-- body starts -->
<body>
<!-- section -->
<h1 style="font-size:40px;text-align:center;font-weight:bold;color:white;">Compact Throughput in BlockChain Occupying Outfit</h1>
<div class="left_column" style="width:860px;">
	          <a href="{% url 'user_index' %}">User</a>
				<a href="{% url 'hospital_login' %}">Hospital</a>
				<a href="{% url 'government_login' %}">Government</a>
				<a href="{% url 'school_login' %}">School</a>
				<a href="{% url 'college_login' %}">College</a>
				<a href="{% url 'office_login' %}">Office</a>

	</div>
<section class="register">
	<div class="register-full">
		<div class="register-right">
			<div class="register-in">
				<h1>User Login</h1>

				<div class="register-form">

					<form action="#" method="post">
						{% csrf_token %}
						<div class="fields-grid">

							<div class="styled-input">
								<input type="text" name="uname" required="">
								<label style="color:black;font-weight:bold;">Username</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="password" name="password" required="">
								<label style="color:black;font-weight:bold;">Password</label>
								<span></span>
							</div>





							<div class="clear"> </div>

						</div>
						<input type="submit" value="Login"><br><br>
						<a href="{% url 'user_register'%}" style="font-size:30px;font-weight:bold;color:black;text-decoration:underline;">New User Register Here</a>
					</form>
				</div>
				<div class="registerimg">
					<img src="{% static "images/iot.gif" %}" alt="" />
				</div>
			<div class="clear"> </div>
		</div>
		</div>
	<div class="clear"> </div>
</div>
	<!-- copyright -->
	<p class="agile-copyright">Compact Throughput in BlockChain Occupying Outfit</p>
	<!-- //copyright -->
</section>
<!-- //section -->
</body>
<!-- //body ends -->
</html>